<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LakaCubeTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LakaCubeTimer.Properties.Settings.timesConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\bojan\Desktop\C#\LakaCubeTimer\times.accdb"
            providerName="" />
    </connectionStrings>
    <applicationSettings>
        <LakaCubeTimer.Properties.Settings>
            <setting name="inspectionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </LakaCubeTimer.Properties.Settings>
    </applicationSettings>
</configuration>