<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LakaCubeTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LakaCubeTimer.Properties.Settings.timesConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\\times.accdb" />
    </connectionStrings>
    <userSettings>
        <LakaCubeTimer.Properties.Settings>
            <setting name="inspectionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </LakaCubeTimer.Properties.Settings>
    </userSettings>
</configuration>